#header {
	border-width: thin;
	border-color: #C0C0C0;
	/*background-image: url('images/logo.png');*/
	position: absolute;
	left: 0px;
	top: 0px;
	width: 980px;
	height: 110px;
	z-index: 4;
	border-bottom-style: solid;
		
}
#contactInfo {
	position:absolute;
	left:790px;
	top:38px;
	width:auto;
	height:auto;
	z-index:5;
	text-align:right;
	font-size:small;
}
/*Header Menu*/
#header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

#header li {
    float: left;
}

#header li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#header li a:hover, .dropdown:hover .dropbtn {
    background-color: silver;
}

#header li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 4;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}
#headerMenu {
	/*padding-left: 195px;*/
	/*padding-top: 50px;*/
	position:absolute;
	left: 250px;
	top: 25px;
	/*width: 185px;
	height: 82px;*/

}
#logo {
	position:absolute;
	left: 10px;
	top: 10px;
	width: 185px;
	height: 82px;
}
/*End of Header Menu*/
#navigation {
	position: absolute;
	left: 0px;
	top: 110px;
	width: 300px;
	height: 610px;
	z-index: 2;
}
/***********Navigation Menu*****************/
.container {
    position: relative;
    width: 50%;
}

.imageNavigation {
	opacity: 1;
	display: block;
	transition: .5s ease;
	backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 70px;
  left: 130px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .imageNavigation {
  opacity: 0.1;
}

.container:hover .middle {
  opacity: 1;
}

.textNavigation {
  /*background-color: #4CAF50;*/
  color: black;
  font-size: 11px;
  padding: 16px 32px;
}
/****************End of navigation menu******************/
#content {
	position: absolute;
	left: 300px;
	top: 110px;
	width: 680px;
	height: 580px;
	z-index: 3;
	overflow:auto;
}
#homeLeft {
	position: absolute;
	left: 0px;
	top: 20px;
	width: 300px;
	height: 580px;
}
#homeRight {
	position: absolute;
	left: 310px;
	top: 20px;
	width: 380px;
	height: 580px;
}

#footer {
	position: absolute;
	left: 0px;
	top: 720px;
	width: 979px;
	height: 65px;
	z-index: 1;
	padding-top:5px;
	padding-left:10px;
	font-size: x-small;
	background-color: #000000;
	color: #FFFFFF;	
}
#footerMenu {
	position: absolute; 
	left: 750px; 
	top: 5px; 
	width: 369px; 
	height: 28px; 
	z-index: 1;
}

#allPage {
	border-style: none solid none solid;
	border-width: thin;
	border-color: #C0C0C0;
	margin-right: auto;
	margin-left: auto;
	width: 980px;
	position: relative;
	background-color:white;	
}

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: #000000;
}
#navigation ul {
	list-style-type: none;
	padding-left: 0px;
}

#copyright {
	text-align: right;
	padding-left: 855px;
}
#navigation li {
	width: 243px;
	height: 111px;
}
.title1 {
	text-transform: uppercase;
	font-size: x-large;
}
.title2 {
	text-transform: uppercase;
	font-size: large;
}
 
#maintenance {
	background-image: url('images/homepage/1.png');
	background-repeat: no-repeat;
	padding-left: 54px;
	border-bottom-style: solid;
	border-width: thin;
}
#gear {
	background-image: url('images/homepage/2.png');
	background-repeat: no-repeat;
	padding-left: 54px;
	border-bottom-style: solid;
	border-width: thin;
}
#safety {
	background-image: url('images/homepage/3.png');
	background-repeat: no-repeat;
	padding-left: 54px;
	border-bottom-style: solid;
	border-width: thin;	
}
#assisstance {
	background-image: url('images/homepage/4.png');
	background-repeat: no-repeat;
	padding-left: 54px;
	border-bottom-style: solid;
	border-width: thin;
}
.italic {
	font-style: italic;
}
#homeLeft ul {
	list-style-type: none;
	padding-left: 0px;
}
#specialPrice {
	font-weight: bold;
	font-size: xx-large;
}
.button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button:hover {
    background-color: #000000;
    color: white;
}
#models ul {
	padding-left: 10px;
	list-style-type: none;
}
#models li {
	height: 111px;
}

.modelTitle {
	font-variant: small-caps;
	text-transform: capitalize;
	color: #275A6F;
	text-decoration: none;
}
#models a {
	font-variant: small-caps;
	text-transform: capitalize;
	text-decoration: none;
	color: #7C3D4A;
}

/*****************SlideShow Begin******************************************/
* {box-sizing: border-box}
/*body {
	font-family: Verdana, sans-serif;
	margin: 0;
}*/
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/*****************SlideShow End******************************************/
.contentCars {
	padding-top: 25px;
}
.auto-style1 {
	border-width: 0px;
}
.table {
	font-size: small;
}

/****************Automatic Slideshow - Convertible Page********************************/
* {box-sizing: border-box;}

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}



.active {
  background-color: #717171;
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/****************Automatic Slideshow End - Convertible Page********************************/

.uppercase {
	text-transform: uppercase;
}
.uppercaseAndBold {
	text-transform: uppercase;
	font-weight: bold;
}
.link {
	text-transform: uppercase;
	text-decoration: none;
	font-size: small;
	color:black;
}
a {
	text-decoration: none;
}
/******Contact us Page************/
.formField {
	width: 200px;
}
form {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-size: small;
}
#contactForm {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    
}
input[type=submit] {
    /*width: 100%;*/
    background-color: black;
    color: white;
    padding: 7px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}
input[type=reset] {
    /*width: 100%;*/
    background-color: black;
    color: white;
    padding: 7px 10px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=reset]:hover {
    background-color: #45a049;
}
input[type=text], textarea, select {
    border: 2px solid black;
    border-radius: 1px;
}
input[type=text], select {
    padding: 3px 10px;
    margin: 1px 0;
    box-sizing: border-box;
}
/******Contact us Page End************/

/*****About Us**************/
.videoContainer { position:relative; }
.videoContainer video {
    position:relative;
    z-index:0;
}
.overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}
#aboutUs li {
	display: inline; float: left; padding: 10px; width:300px;
}
#aboutUs ul {
	 list-style-type: none; 
	 width: 680px;
	 text-align:left;
	 font-size:small;	
}

/*****About Us End**************/

#footerMenu a {
	color: #FFFFFF;
	text-decoration: none;
}
#footerMenu a:hover {
	color: #000000;
	text-decoration: underline overline;
	background-color: #FFFFFF;
}
